 
/*untuk tablet*/
@media screen and (max-width:1000px)
{
    .badan-utama
    {
        width: 100%;
    }
 
    .menu-kiri
    {
        width: 25%;
    }
 
    .menu-tengah
    {
        width: 68%;
        float: right;
    }
 
    .menu-kanan
    {
        clear: both;
        float: none;
        width: 100%;
    }
}
 
/*untuk android*/
@media screen and (max-width:670px)
{
    header h2, header p
    {
        text-align: center;
    }
 
    .menu-kiri, .menu-kanan, .menu-tengah
    {
        float: none;
        width: 100%;
    }
 
    .navigasi li
    {
        float: none;
    }
}
