/* Reset CSS (JANGAN DIHAPUS) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Comic Sans MS";
}

li {
  list-style: none;
}

/* Ketik code Anda dibawah */
.header {
  background-color: #f0932b;
  color: #fff;
  height: 120px;
}

.header-logo {
  float: left;
  font-size: 80px;
  padding: 30px 40px;
}

.header-list {
  float: left;
}

.header-list li {
  float: left;
  padding: 50px 20px;
}

